<?xml version="1.0" encoding="UTF-8"?>
<conversion>
  <applied-converters>
    <converter id="android-module-to-java-module" />
    <converter id="android-proguard-options" />
    <converter id="android-sdk-library" />
    <converter id="build-jar-configurations-to-artifacts" />
    <converter id="detach-cdi-facet-from-module" />
    <converter id="detach-jsf-facet-from-module" />
    <converter id="google-app-engine-facet" />
    <converter id="groovy-modules-to-facets" />
    <converter id="groovy-script-run-configurations" />
    <converter id="gwt-packaging" />
    <converter id="javaee-module-to-facets" />
    <converter id="javaee-packaging-to-artifacts" />
    <converter id="js-debug-configuration-converter" />
    <converter id="js-predefined-libraries-merged" />
    <converter id="junit-to-android-junit-configurations" />
    <converter id="nodejs-remote-debug-configuration-converter" />
  </applied-converters>
  <project-files>
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\compiler.xml" timestamp="1525230247203" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\dataSources.local.xml" timestamp="1524661218745" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\dataSources.xml" timestamp="1524661179447" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\dataSources\6f76bcd3-8f91-41f2-94b6-368defd04c3f.xml" timestamp="1524661213419" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\encodings.xml" timestamp="1525228879123" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\inspectionProfiles\Project_Default.xml" timestamp="1524648383339" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__antlr_antlr_2_7_7.xml" timestamp="1524548249931" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__aopalliance_aopalliance_1_0.xml" timestamp="1524548619949" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__ch_qos_logback_logback_classic_1_1_3.xml" timestamp="1524548620001" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__ch_qos_logback_logback_classic_1_1_9.xml" timestamp="1524809057632" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__ch_qos_logback_logback_classic_1_2_3.xml" timestamp="1524212945222" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__ch_qos_logback_logback_core_1_1_3.xml" timestamp="1524548620033" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__ch_qos_logback_logback_core_1_1_9.xml" timestamp="1524809057667" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__ch_qos_logback_logback_core_1_2_3.xml" timestamp="1524212945269" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__com_fasterxml_classmate_1_1_0.xml" timestamp="1524548620070" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__com_fasterxml_classmate_1_3_3.xml" timestamp="1524809057700" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__com_fasterxml_classmate_1_3_4.xml" timestamp="1524213087907" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__com_fasterxml_jackson_core_jackson_annotations_2_6_5.xml" timestamp="1524548620097" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__com_fasterxml_jackson_core_jackson_annotations_2_8_0.xml" timestamp="1524809057729" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__com_fasterxml_jackson_core_jackson_annotations_2_9_0.xml" timestamp="1524213087948" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__com_fasterxml_jackson_core_jackson_core_2_6_5.xml" timestamp="1524548620129" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__com_fasterxml_jackson_core_jackson_core_2_8_6.xml" timestamp="1524809057762" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__com_fasterxml_jackson_core_jackson_core_2_9_5.xml" timestamp="1524213087979" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__com_fasterxml_jackson_core_jackson_databind_2_6_5.xml" timestamp="1524548620181" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__com_fasterxml_jackson_core_jackson_databind_2_8_6.xml" timestamp="1524809057794" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__com_fasterxml_jackson_core_jackson_databind_2_9_5.xml" timestamp="1524213088005" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__com_fasterxml_jackson_datatype_jackson_datatype_jdk8_2_9_5.xml" timestamp="1524213088035" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_9_5.xml" timestamp="1524213088071" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__com_fasterxml_jackson_module_jackson_module_parameter_names_2_9_5.xml" timestamp="1524213088094" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__com_google_guava_guava_18_0.xml" timestamp="1524579469082" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__com_jayway_jsonpath_json_path_2_2_0.xml" timestamp="1524809057821" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__com_jayway_jsonpath_json_path_2_4_0.xml" timestamp="1524212945309" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__com_rabbitmq_amqp_client_5_1_2.xml" timestamp="1524818210620" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__com_rabbitmq_http_client_2_0_1_RELEASE.xml" timestamp="1524818210647" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__com_sun_mail_javax_mail_1_6_1.xml" timestamp="1524814934637" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__com_unboundid_unboundid_ldapsdk_4_0_5.xml" timestamp="1524662677892" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__com_vaadin_external_google_android_json_0_0_20131108_vaadin1.xml" timestamp="1524212945341" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__com_zaxxer_HikariCP_2_7_8.xml" timestamp="1524635696892" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__commons_beanutils_commons_beanutils_1_9_2.xml" timestamp="1524548620216" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__commons_beanutils_commons_beanutils_1_9_3.xml" timestamp="1524814934668" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__commons_chain_commons_chain_1_1.xml" timestamp="1524548250002" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__commons_codec_commons_codec_1_11.xml" timestamp="1524818210676" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__commons_collections_commons_collections_3_2_2.xml" timestamp="1524548250048" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__commons_digester_commons_digester_2_1.xml" timestamp="1524548250083" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__commons_lang_commons_lang_2_4.xml" timestamp="1524548250122" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__commons_validator_commons_validator_1_3_1.xml" timestamp="1524548250155" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__dom4j_dom4j_1_1.xml" timestamp="1524548620243" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__dom4j_dom4j_1_6_1.xml" timestamp="1524637005370" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__io_lettuce_lettuce_core_5_0_3_RELEASE.xml" timestamp="1524647668691" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__io_netty_netty_buffer_4_1_23_Final.xml" timestamp="1524647668714" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__io_netty_netty_codec_4_1_23_Final.xml" timestamp="1524647668750" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__io_netty_netty_codec_http_4_1_23_Final.xml" timestamp="1524818210709" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__io_netty_netty_codec_socks_4_1_23_Final.xml" timestamp="1524818210763" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__io_netty_netty_common_4_1_23_Final.xml" timestamp="1524647668785" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__io_netty_netty_handler_4_1_23_Final.xml" timestamp="1524647668817" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__io_netty_netty_handler_proxy_4_1_23_Final.xml" timestamp="1524818210803" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__io_netty_netty_resolver_4_1_23_Final.xml" timestamp="1524647668852" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__io_netty_netty_transport_4_1_23_Final.xml" timestamp="1524647668887" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__io_netty_netty_transport_native_epoll_4_1_23_Final.xml" timestamp="1524818210843" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__io_netty_netty_transport_native_unix_common_4_1_23_Final.xml" timestamp="1524818210876" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__io_projectreactor_ipc_reactor_netty_0_7_6_RELEASE.xml" timestamp="1524818210906" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__io_projectreactor_reactor_core_3_1_6_RELEASE.xml" timestamp="1524647668915" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__io_springfox_springfox_core_2_2_2.xml" timestamp="1524579469129" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__io_springfox_springfox_schema_2_2_2.xml" timestamp="1524579469165" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__io_springfox_springfox_spi_2_2_2.xml" timestamp="1524579469199" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__io_springfox_springfox_spring_web_2_2_2.xml" timestamp="1524579469234" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__io_springfox_springfox_swagger2_2_2_2.xml" timestamp="1524579469271" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__io_springfox_springfox_swagger_common_2_2_2.xml" timestamp="1524579469316" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__io_springfox_springfox_swagger_ui_2_2_2.xml" timestamp="1524579469354" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__io_swagger_swagger_annotations_1_5_3.xml" timestamp="1524579469390" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__io_swagger_swagger_models_1_5_3.xml" timestamp="1524579469434" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__javax_activation_activation_1_1.xml" timestamp="1524811965690" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__javax_annotation_javax_annotation_api_1_3_2.xml" timestamp="1524212945373" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__javax_transaction_javax_transaction_api_1_2.xml" timestamp="1524637005418" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__javax_validation_validation_api_1_1_0_Final.xml" timestamp="1524548620275" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__javax_validation_validation_api_2_0_1_Final.xml" timestamp="1524213088120" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__junit_junit_4_12.xml" timestamp="1524212945405" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__log4j_log4j_1_2_17.xml" timestamp="1524731319760" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__mysql_mysql_connector_java_5_1_46.xml" timestamp="1524635744922" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__net_bytebuddy_byte_buddy_1_7_11.xml" timestamp="1524212945501" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__net_bytebuddy_byte_buddy_agent_1_7_11.xml" timestamp="1524212945540" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__net_minidev_accessors_smart_1_1.xml" timestamp="1524809057868" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__net_minidev_accessors_smart_1_2.xml" timestamp="1524212945590" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__net_minidev_json_smart_2_2_1.xml" timestamp="1524809057906" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__net_minidev_json_smart_2_3.xml" timestamp="1524212945621" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__net_sf_ehcache_ehcache_2_10_4.xml" timestamp="1524810573926" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_apache_commons_commons_pool2_2_5_0.xml" timestamp="1524811837666" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_apache_httpcomponents_httpclient_4_5_5.xml" timestamp="1524818210934" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_apache_httpcomponents_httpcore_4_4_9.xml" timestamp="1524818210980" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_apache_logging_log4j_log4j_api_2_10_0.xml" timestamp="1524212945668" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_apache_logging_log4j_log4j_to_slf4j_2_10_0.xml" timestamp="1524212945707" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_apache_struts_struts_core_1_3_8.xml" timestamp="1524548250235" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_apache_struts_struts_taglib_1_3_8.xml" timestamp="1524548250277" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_apache_struts_struts_tiles_1_3_8.xml" timestamp="1524548250308" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_apache_tomcat_embed_tomcat_embed_core_8_0_30.xml" timestamp="1524548620308" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_apache_tomcat_embed_tomcat_embed_core_8_5_11.xml" timestamp="1524809057954" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_apache_tomcat_embed_tomcat_embed_core_8_5_29.xml" timestamp="1524213088162" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_apache_tomcat_embed_tomcat_embed_el_8_0_30.xml" timestamp="1524548620337" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_apache_tomcat_embed_tomcat_embed_el_8_5_11.xml" timestamp="1524809058001" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_apache_tomcat_embed_tomcat_embed_el_8_5_29.xml" timestamp="1524213088192" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_apache_tomcat_embed_tomcat_embed_logging_juli_8_0_30.xml" timestamp="1524548620374" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_apache_tomcat_embed_tomcat_embed_websocket_8_0_30.xml" timestamp="1524548620412" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_apache_tomcat_embed_tomcat_embed_websocket_8_5_11.xml" timestamp="1524809058035" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_apache_tomcat_embed_tomcat_embed_websocket_8_5_29.xml" timestamp="1524213088230" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_apache_velocity_velocity_1_7.xml" timestamp="1524548250346" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_apache_velocity_velocity_tools_2_0.xml" timestamp="1524548250381" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_aspectj_aspectjrt_1_8_13.xml" timestamp="1524579469466" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_aspectj_aspectjweaver_1_8_13.xml" timestamp="1524579469508" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_assertj_assertj_core_2_6_0.xml" timestamp="1524809058068" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_assertj_assertj_core_3_9_1.xml" timestamp="1524212945748" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_attoparser_attoparser_2_0_4_RELEASE.xml" timestamp="1524541883112" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_flywaydb_flyway_core_5_0_7.xml" timestamp="1524661053819" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_freemarker_freemarker_2_3_28.xml" timestamp="1524547418583" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_hamcrest_hamcrest_core_1_3.xml" timestamp="1524212945784" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_hamcrest_hamcrest_library_1_3.xml" timestamp="1524212945822" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_hibernate_common_hibernate_commons_annotations_5_0_1_Final.xml" timestamp="1524637005446" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_hibernate_hibernate_core_5_2_16_Final.xml" timestamp="1524637005477" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_hibernate_hibernate_validator_5_2_2_Final.xml" timestamp="1524548620447" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_hibernate_hibernate_validator_5_3_4_Final.xml" timestamp="1524809058118" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_hibernate_javax_persistence_hibernate_jpa_2_1_api_1_0_0_Final.xml" timestamp="1524637005509" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_hibernate_validator_hibernate_validator_6_0_9_Final.xml" timestamp="1524213088277" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_hsqldb_hsqldb_2_4_0.xml" timestamp="1524635744953" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_javassist_javassist_3_22_0_GA.xml" timestamp="1524637005534" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_jboss_jandex_2_0_3_Final.xml" timestamp="1524637005567" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_jboss_logging_jboss_logging_3_3_0_Final.xml" timestamp="1524548620485" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_jboss_logging_jboss_logging_3_3_2_Final.xml" timestamp="1524213088304" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_mapstruct_mapstruct_1_0_0_CR1.xml" timestamp="1524579469540" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_mockito_mockito_core_1_10_19.xml" timestamp="1524548620515" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_mockito_mockito_core_2_15_0.xml" timestamp="1524212945855" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_mongodb_bson_3_6_3.xml" timestamp="1524650528848" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_mongodb_mongodb_driver_3_6_3.xml" timestamp="1524650528883" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_mongodb_mongodb_driver_core_3_6_3.xml" timestamp="1524650528915" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_mybatis_mybatis_3_4_6.xml" timestamp="1524655265714" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_mybatis_mybatis_spring_1_3_2.xml" timestamp="1524655265745" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_mybatis_spring_boot_mybatis_spring_boot_autoconfigure_1_3_2.xml" timestamp="1524655265773" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_mybatis_spring_boot_mybatis_spring_boot_starter_1_3_2.xml" timestamp="1524655265805" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_objenesis_objenesis_2_1.xml" timestamp="1524548620555" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_objenesis_objenesis_2_6.xml" timestamp="1524212945885" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_ow2_asm_asm_5_0_3.xml" timestamp="1524809058150" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_ow2_asm_asm_5_0_4.xml" timestamp="1524212945923" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_projectlombok_lombok_1_16_20.xml" timestamp="1524237319545" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_reactivestreams_reactive_streams_1_0_2.xml" timestamp="1524647668955" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_skyscreamer_jsonassert_1_4_0.xml" timestamp="1524809058199" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_skyscreamer_jsonassert_1_5_0.xml" timestamp="1524212945966" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_slf4j_jcl_over_slf4j_1_7_13.xml" timestamp="1524548620620" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_slf4j_jcl_over_slf4j_1_7_22.xml" timestamp="1524809058241" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_slf4j_jcl_over_slf4j_1_7_25.xml" timestamp="1524731319805" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_slf4j_jul_to_slf4j_1_7_13.xml" timestamp="1524548620662" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_slf4j_jul_to_slf4j_1_7_22.xml" timestamp="1524809058271" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_slf4j_jul_to_slf4j_1_7_25.xml" timestamp="1524212945998" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_slf4j_log4j_over_slf4j_1_7_13.xml" timestamp="1524548620695" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_slf4j_log4j_over_slf4j_1_7_22.xml" timestamp="1524809058301" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_slf4j_slf4j_api_1_7_13.xml" timestamp="1524548620729" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_slf4j_slf4j_api_1_7_22.xml" timestamp="1524809058334" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_slf4j_slf4j_api_1_7_25.xml" timestamp="1524212946028" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_slf4j_slf4j_log4j12_1_7_25.xml" timestamp="1524731319842" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_amqp_spring_amqp_2_0_3_RELEASE.xml" timestamp="1524818211009" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_amqp_spring_rabbit_2_0_3_RELEASE.xml" timestamp="1524818211046" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_boot_spring_boot_1_3_2_RELEASE.xml" timestamp="1524548620812" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_boot_spring_boot_1_5_1_RELEASE.xml" timestamp="1524809058380" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_boot_spring_boot_2_0_1_RELEASE.xml" timestamp="1524212946070" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_boot_spring_boot_actuator_1_5_1_RELEASE.xml" timestamp="1524809058419" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_boot_spring_boot_actuator_2_0_1_RELEASE.xml" timestamp="1524855124581" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_boot_spring_boot_actuator_autoconfigure_2_0_1_RELEASE.xml" timestamp="1524855124612" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_boot_spring_boot_autoconfigure_1_3_2_RELEASE.xml" timestamp="1524548620846" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_boot_spring_boot_autoconfigure_1_5_1_RELEASE.xml" timestamp="1524809058460" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_boot_spring_boot_autoconfigure_2_0_1_RELEASE.xml" timestamp="1524212946101" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_boot_spring_boot_starter_1_3_2_RELEASE.xml" timestamp="1524548620905" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_boot_spring_boot_starter_1_5_1_RELEASE.xml" timestamp="1524809058494" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_boot_spring_boot_starter_2_0_1_RELEASE.xml" timestamp="1524212946137" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_boot_spring_boot_starter_actuator_1_5_1_RELEASE.xml" timestamp="1524809058537" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_boot_spring_boot_starter_amqp_2_0_1_RELEASE.xml" timestamp="1524818211086" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_boot_spring_boot_starter_aop_2_0_1_RELEASE.xml" timestamp="1524637005609" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_boot_spring_boot_starter_cache_2_0_1_RELEASE.xml" timestamp="1524810573962" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_boot_spring_boot_starter_data_jpa_2_0_1_RELEASE.xml" timestamp="1524637005644" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_boot_spring_boot_starter_data_ldap_2_0_1_RELEASE.xml" timestamp="1524662642724" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_boot_spring_boot_starter_data_mongodb_2_0_1_RELEASE.xml" timestamp="1524650528950" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_boot_spring_boot_starter_data_redis_2_0_1_RELEASE.xml" timestamp="1524647668988" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_boot_spring_boot_starter_freemarker_2_0_1_RELEASE.xml" timestamp="1524547418626" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_boot_spring_boot_starter_jdbc_2_0_1_RELEASE.xml" timestamp="1524635696937" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_boot_spring_boot_starter_json_2_0_1_RELEASE.xml" timestamp="1524213088342" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_boot_spring_boot_starter_log4j_1_3_8_RELEASE.xml" timestamp="1524731319877" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_boot_spring_boot_starter_logging_1_3_2_RELEASE.xml" timestamp="1524548621003" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_boot_spring_boot_starter_logging_1_5_1_RELEASE.xml" timestamp="1524809058570" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_boot_spring_boot_starter_logging_2_0_1_RELEASE.xml" timestamp="1524212946213" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_boot_spring_boot_starter_mail_2_0_1_RELEASE.xml" timestamp="1524814934705" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_boot_spring_boot_starter_redis_1_4_7_RELEASE.xml" timestamp="1524811837700" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_boot_spring_boot_starter_security_2_0_1_RELEASE.xml" timestamp="1524809479671" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_boot_spring_boot_starter_test_1_3_2_RELEASE.xml" timestamp="1524548621045" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_boot_spring_boot_starter_test_1_5_1_RELEASE.xml" timestamp="1524809058602" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_boot_spring_boot_starter_test_2_0_1_RELEASE.xml" timestamp="1524212946250" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_boot_spring_boot_starter_thymeleaf_2_0_1_RELEASE.xml" timestamp="1524539868942" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_boot_spring_boot_starter_tomcat_1_3_2_RELEASE.xml" timestamp="1524548621077" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_boot_spring_boot_starter_tomcat_1_5_1_RELEASE.xml" timestamp="1524809058653" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_boot_spring_boot_starter_tomcat_2_0_1_RELEASE.xml" timestamp="1524213088393" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_boot_spring_boot_starter_validation_1_3_2_RELEASE.xml" timestamp="1524548621120" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_boot_spring_boot_starter_velocity_1_3_2_RELEASE.xml" timestamp="1524548621151" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_boot_spring_boot_starter_velocity_1_4_7_RELEASE.xml" timestamp="1524814934737" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_boot_spring_boot_starter_web_1_3_2_RELEASE.xml" timestamp="1524548621196" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_boot_spring_boot_starter_web_1_5_1_RELEASE.xml" timestamp="1524809058686" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_boot_spring_boot_starter_web_2_0_1_RELEASE.xml" timestamp="1524213088425" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_boot_spring_boot_test_1_5_1_RELEASE.xml" timestamp="1524809058720" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_boot_spring_boot_test_2_0_1_RELEASE.xml" timestamp="1524212946296" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_boot_spring_boot_test_autoconfigure_1_5_1_RELEASE.xml" timestamp="1524809058771" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_boot_spring_boot_test_autoconfigure_2_0_1_RELEASE.xml" timestamp="1524212946333" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_data_spring_data_commons_2_0_6_RELEASE.xml" timestamp="1524637005668" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_data_spring_data_jpa_2_0_6_RELEASE.xml" timestamp="1524637005700" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_data_spring_data_keyvalue_2_0_6_RELEASE.xml" timestamp="1524647669013" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_data_spring_data_ldap_2_0_6_RELEASE.xml" timestamp="1524662642753" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_data_spring_data_mongodb_2_0_6_RELEASE.xml" timestamp="1524650529002" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_data_spring_data_redis_2_0_6_RELEASE.xml" timestamp="1524647669055" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_hateoas_spring_hateoas_0_24_0_RELEASE.xml" timestamp="1524579469573" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_ldap_spring_ldap_core_2_3_2_RELEASE.xml" timestamp="1524662642781" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_plugin_spring_plugin_core_1_2_0_RELEASE.xml" timestamp="1524579469608" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_plugin_spring_plugin_metadata_1_2_0_RELEASE.xml" timestamp="1524579469636" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_retry_spring_retry_1_2_2_RELEASE.xml" timestamp="1524818211123" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_security_spring_security_config_5_0_4_RELEASE.xml" timestamp="1524809479700" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_security_spring_security_core_5_0_4_RELEASE.xml" timestamp="1524809479729" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_security_spring_security_test_5_0_4_RELEASE.xml" timestamp="1524809479772" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_security_spring_security_web_5_0_4_RELEASE.xml" timestamp="1524809479812" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_spring_aop_4_2_4_RELEASE.xml" timestamp="1524548621226" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_spring_aop_4_3_6_RELEASE.xml" timestamp="1524809058801" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_spring_aop_5_0_5_RELEASE.xml" timestamp="1524212946376" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_spring_aspects_5_0_5_RELEASE.xml" timestamp="1524637005727" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_spring_beans_4_2_4_RELEASE.xml" timestamp="1524548621252" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_spring_beans_4_3_6_RELEASE.xml" timestamp="1524809058842" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_spring_beans_5_0_5_RELEASE.xml" timestamp="1524212946406" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_spring_context_4_2_4_RELEASE.xml" timestamp="1524548621310" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_spring_context_4_3_6_RELEASE.xml" timestamp="1524809058886" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_spring_context_5_0_5_RELEASE.xml" timestamp="1524212946435" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_spring_context_support_4_1_6_RELEASE.xml" timestamp="1524814934778" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_spring_context_support_4_2_4_RELEASE.xml" timestamp="1524548621343" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_spring_context_support_5_0_5_RELEASE.xml" timestamp="1524547418670" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_spring_core_4_2_4_RELEASE.xml" timestamp="1524548621403" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_spring_core_4_3_6_RELEASE.xml" timestamp="1524809058920" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_spring_core_5_0_5_RELEASE.xml" timestamp="1524212946465" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_spring_expression_4_2_4_RELEASE.xml" timestamp="1524548621447" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_spring_expression_4_3_6_RELEASE.xml" timestamp="1524809058960" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_spring_expression_5_0_5_RELEASE.xml" timestamp="1524212946501" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_spring_jcl_5_0_5_RELEASE.xml" timestamp="1524212946539" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_spring_jdbc_5_0_5_RELEASE.xml" timestamp="1524635696976" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_spring_messaging_5_0_5_RELEASE.xml" timestamp="1524818211154" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_spring_orm_5_0_5_RELEASE.xml" timestamp="1524637005760" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_spring_oxm_5_0_5_RELEASE.xml" timestamp="1524647669095" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_spring_test_4_2_4_RELEASE.xml" timestamp="1524548621480" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_spring_test_4_3_6_RELEASE.xml" timestamp="1524809058994" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_spring_test_5_0_5_RELEASE.xml" timestamp="1524212946573" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_spring_tx_5_0_5_RELEASE.xml" timestamp="1524635697010" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_spring_web_4_2_4_RELEASE.xml" timestamp="1524548621505" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_spring_web_4_3_6_RELEASE.xml" timestamp="1524809059020" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_spring_web_5_0_5_RELEASE.xml" timestamp="1524213088461" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_spring_webflux_5_0_5_RELEASE.xml" timestamp="1524818211188" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_spring_webmvc_4_2_4_RELEASE.xml" timestamp="1524548621546" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_spring_webmvc_4_3_6_RELEASE.xml" timestamp="1524809059054" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_spring_webmvc_5_0_5_RELEASE.xml" timestamp="1524213088534" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_statemachine_spring_statemachine_autoconfigure_2_0_1_RELEASE.xml" timestamp="1524855124640" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_statemachine_spring_statemachine_core_2_0_1_RELEASE.xml" timestamp="1524855124678" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_springframework_statemachine_spring_statemachine_starter_2_0_1_RELEASE.xml" timestamp="1524855124728" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_thymeleaf_extras_thymeleaf_extras_java8time_3_0_1_RELEASE.xml" timestamp="1524539868972" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_thymeleaf_thymeleaf_3_0_9_RELEASE.xml" timestamp="1524541883186" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_thymeleaf_thymeleaf_spring5_3_0_9_RELEASE.xml" timestamp="1524541883216" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_unbescape_unbescape_1_1_5_RELEASE.xml" timestamp="1524541883261" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_xmlunit_xmlunit_core_2_5_1.xml" timestamp="1524212946601" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_yaml_snakeyaml_1_16.xml" timestamp="1524548621571" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_yaml_snakeyaml_1_17.xml" timestamp="1524809059087" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__org_yaml_snakeyaml_1_19.xml" timestamp="1524212946635" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__oro_oro_2_0_8.xml" timestamp="1524548250439" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__redis_clients_jedis_2_9_0.xml" timestamp="1524811837736" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__sslext_sslext_1_2_0.xml" timestamp="1524548250473" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\libraries\Maven__xml_apis_xml_apis_1_4_01.xml" timestamp="1524814934821" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\misc.xml" timestamp="1525230247233" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\modules.xml" timestamp="1525230247288" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\sqldialects.xml" timestamp="1524661507030" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\uiDesigner.xml" timestamp="1524213617049" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\vcs.xml" timestamp="1525866256218" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\.idea\workspace.xml" timestamp="1525867973302" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\Chapter1\Chapter1.iml" timestamp="1524223883343" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\Chapter2-1-1\Chapter2-1-1.iml" timestamp="1524237319380" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\Chapter2-1-2\Chapter2-1-2.iml" timestamp="1524238740211" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\Chapter2-2-1\Chapter2-2-1.iml" timestamp="1524499186371" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\Chapter3-1-1\Chapter3-1-1.iml" timestamp="1524538054356" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\Chapter3-1-2\Chapter3-1-2.iml" timestamp="1524547332338" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\Chapter3-1-3\Chapter3-1-3.iml" timestamp="1524547418489" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\Chapter3-1-4\Chapter3-1-4.iml" timestamp="1524550305897" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\Chapter3-1-5\Chapter3-1-5.iml" timestamp="1524579469005" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\Chapter3-1-6\Chapter3-1-6.iml" timestamp="1524584401766" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\Chapter3-2-10\Chapter3-2-10.iml" timestamp="1524662677819" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\Chapter3-2-11\Chapter3-2-11.iml" timestamp="1524663647134" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\Chapter3-2-1\Chapter3-2-1.iml" timestamp="1524635744850" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\Chapter3-2-2\Chapter3-2-2.iml" timestamp="1524637005247" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\Chapter3-2-3\Chapter3-2-3.iml" timestamp="1524643146120" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\Chapter3-2-4\Chapter3-2-4.iml" timestamp="1524644160090" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\Chapter3-2-5\Chapter3-2-5.iml" timestamp="1524648487594" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\Chapter3-2-6\Chapter3-2-6.iml" timestamp="1524650566987" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\Chapter3-2-7\Chapter3-2-7.iml" timestamp="1524655265461" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\Chapter3-2-8\Chapter3-2-8.iml" timestamp="1524656288861" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\Chapter3-2-9\Chapter3-2-9.iml" timestamp="1524661053619" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\Chapter3-3-1\Chapter3-3-1.iml" timestamp="1524672709975" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\Chapter4-1-1\Chapter4-1-1.iml" timestamp="1524719068317" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\Chapter4-1-2\Chapter4-1-2.iml" timestamp="1524720418244" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\Chapter4-1-3\Chapter4-1-3.iml" timestamp="1524721289849" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\Chapter4-1-4\Chapter4-1-4.iml" timestamp="1524727424120" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\Chapter4-2-1\Chapter4-2-1.iml" timestamp="1524728740414" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\Chapter4-2-2\Chapter4-2-2.iml" timestamp="1524731319650" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\Chapter4-2-3\Chapter4-2-3.iml" timestamp="1524739449450" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\Chapter4-2-4\Chapter4-2-4.iml" timestamp="1524742195701" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\Chapter4-2-5\Chapter4-2-5.iml" timestamp="1524806189199" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\Chapter4-2-6\Chapter4-2-6.iml" timestamp="1524809057548" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\Chapter4-3-1\Chapter4-3-1.iml" timestamp="1524809646731" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\Chapter4-4-1\Chapter4-4-1.iml" timestamp="1524810573793" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\Chapter4-4-2\Chapter4-4-2.iml" timestamp="1524811837591" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\Chapter4-5-1\Chapter4-5-1.iml" timestamp="1524814934502" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\Chapter5-2-1\Chapter5-2-1.iml" timestamp="1524818210395" />
    <file path="D:\Work\IdeaProjects\SpringBootLearning\Chapter6-1-1\Chapter6-1-1.iml" timestamp="1524855124372" />
  </project-files>
</conversion>

